* {
    padding: 0;
    margin: 0;
}
nav {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

ul li {
    list-style: none;
}

.menu-desplegable {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.menu-desplegable li a {
    background-color: red;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;  

}

.menu-desplegable li a:hover{
    background-color: brown;
}

.menu-desplegable li {
    float: left;
    position: relative;
}

.menu-desplegable li ul {
    display: none;
    position: absolute;
}

.menu-desplegable li:hover > ul {
    display: flex;
    flex-direction: column;
}

.menu-desplegable ul li ul li {
    left: 103px;
    top: -38.7px;
}


/*BARRA DE BUSQUEDA*/
.container {
    display: flex;
    position: relative;
    flex-direction: row;
    left: 15vw;
    top: 0;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 22vw;
}

input {
    position: relative;
    background-color: rgb(244, 163, 163);
    border: 3px black solid;
    border-radius: 5px;
    width: 25vw;
    height: 38px;
    bottom: 0;
    top: 0;
    right: 0;
    margin: 0;
    outline: none;
}

button {
    background-color: red;
    width: 40px;
    height: 38px;
    border-radius: 5px;  

}

/*Slider*/

section {
    
    position: relative;
    margin-top: 220px;
    display: flex;    
    width: 100%;
    
    overflow: hidden;
    
}
.carrusel {
    display: flex;
    flex-direction: row;
    height: 100em;
    width: 100%;
    position: relative;
    left: 20%;
}


section img {  
    align-content: center;
    margin-top: 50px;
    width: 150px;
    height: 450px;
    
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: cell;
    transform: scale(1);  
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

#title {
    position: absolute;
    left: 46%;
    
    margin-top: -5vh;
}

footer {
    width: 100%;
    height: 40px;
    position: absolute;    
    text-align: center;
    background-color: rgba(255, 0, 0, 0.653);
}
span {
    position: relative;
    top: 25%;
}

/*menu hamburguesa*/

.menuhamburguesa {
    display: flex;
    position: absolute;
    left: 80vw;
    top: 10px;    
    flex-wrap: wrap;
    margin-left: 12vw;   
    
}

.menuhamburguesa ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menuhamburguesa li {
    position: relative;
}

.menuhamburguesa a {
    text-decoration: none;
    color: white;
}
.menuhamburguesa ul ul {
    display: none;
    position: absolute;
    background-color: rgba(255, 13, 13, 0.662);
    left: 0;
    padding: 5px;
    top: 25px;
}

.menuhamburguesa li:hover ul {
    display: block;
}

.menuhamburguesa li ul li a{
    display: block;
    transition: all 0.3s;
}

.menuhamburguesa li ul li a:hover {
    background-color: rgba(255, 13, 13, 0.662);
    transform: scale(0.9);
}

.menuhamburguesa i {
    color: black;
    font-size: larger;
}

.menuhamburguesa i:hover {
    transform: scale(1.5);
}




