h1 {
    color: brown;
}
nav {
    width: 50%;
    margin: auto;
}
.menu li a {
    background-color: black;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.menu li a:hover {
    background: linear-gradient(90deg, rgba(19,0,36,1) 48%, rgba(56,69,132,0.5495448179271709) 48%);

}

.menu li {
    position: relative;
    float: left;

}

.menu li ul {
    display: none;
    position: absolute;
}

.menu li:hover ul {
    display: flex;
    flex-direction: column;
}

